<h1>Welcome to Musicrud</h1>
<h2>Navigate to:</h2>
<ul>
  <li class="home-page-link"><%= link_to 'Artists', artists_path %></li>
  <li class="home-page-link"><%= link_to 'Releases', releases_path %></li>
  <li class="home-page-link"><%= link_to 'Songs', songs_path %></li>
</ul>
