<h1>Song</h1>

<%= link_to "New song", new_song_path %>

<hr>

<div id="songs">
  <% @songs.each do |song| %>
    <div>
        <%= link_to "#{song.release.artist.name} - #{song.title}", song %>
    </div>
  <% end %>
</div>

<hr>

<%= link_to "Back", root_path %>