.release-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.release-cover-main {
    width: 20rem;
    height: 20rem;
}

.release-cover-main img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.release-details p {
    margin: 10px 0;
}

.songs-list .song-item {
    margin: 8px 0;
}
