<h1>Releases</h1>

<%= link_to "New release", new_release_path %>

<hr>

<div id="releases">
  <% @releases.each do |release| %>
    <div>
        <%= link_to "#{release.artist.name} - #{release.title}", release %>
    </div>
  <% end %>
</div>

<hr>

<%= link_to "Back", root_path %>